@for $i from 0 through 12 {
  $w: ($i/12) * 100%;
  .medium-#{$i} {
    flex-basis: $w;
  }
}

div#navWrapper {
  nav ul {
    flex-direction: row;
    width: 50%;
    li a {justify-content: center;}
  }
}