/* rules here will be applied to all sizes, medium and large will modify from that */

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//Body
body {
  font-family: $fontFamily;
  overflow-x: hidden;
}

// Header style
div#headerWrapper {
  background-color: darken($secondaryColor, 0);
  border-top: 0.5rem solid $primaryColor;

  header {
    div.slogan {
      color: white;
      h1,
      h2 {
        margin: 2%;
      }
      h2 {
        font-size: 90%;
      }
    }

    div.search-box {
      margin-top: 1rem;
      padding: 2% 2%;
      display: flex;
      justify-content: flex-end;
      .searchBox {
        border-radius: 5px;
        padding: 1% 1%;
      }
    }
  }
}
// end of Header style

// Nav style
div#navWrapper {
  background-color: $secondaryLight;

  nav {
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;

        a {
          cursor: pointer;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: rgb(255, 255, 255);
          padding: 0 2%;
        }
      }
      li.active {
        background-color: lighten(grey, 20%);
        a {
          color: black;
        }
      }
      li:hover {
        background-color: darken($secondaryColor, 10%);
        a {
          color: white;
        }
      }
    }
  }
}
// end of Nav style

// Main Style

div#mainWrapper {
  main {
    div.flexed {
      .lawyer-card {
        margin: 3% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
          font-size: 100%;
          text-align: center;
          background-color: $primaryColor;
          color: white;
          margin: 0;
          padding: 2rem 1%;
          width: 100%;
        }

        img {
          width: 100%;
          height: auto;
        }

        button {
          border-style: none;
          background-color: $secondaryColor;
          color: white;
          width: 100%;
          height: 2rem;
        }
        button:hover {
          background-color: $secondaryLight;
          cursor: pointer;
        }
      }

      .cta button {
        width: 100%;
        height: 4rem;
        margin: 2% 0;
        border-style: none;
        background-color: $primaryColor;
        color: white;
        font-size: 1.75rem;
      }
      .cta button:hover {
        background-color: darken($primaryColor, 5%);
        cursor: pointer;
      }

      div.blogpost-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2% 0;
        img {
          width: 100%;
          height: auto;
        }
        div.blog-text {
          background-color: $primaryColor;
          color: white;
          padding: 0 2%;
        }
        button {
          width: 100%;
          height: 4rem;
          border-style: none;
          background-color: $secondaryColor;
          color: white;
        }
        button:hover {
          cursor: pointer;
          background-color: $secondaryLight;
        }
      }

      div.tip-of-day,
      .faq {
        div.inner:nth-child(1) {
          margin-top: 0;
        }
        div.inner {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: $secondaryLight;
          color: white;
          margin: 2% 0;
          div.inner-inner {
            padding: 1% 2%;
            margin: 2% 0;
          }

          button {
            width: 100%;
            background-color: $primaryColor;
            color: white;
            border-style: none;
            height: 3rem;
          }
          button:hover {
            cursor: pointer;
            background-color: lighten($primaryColor, 10%);
            color: darken(white, 10%);
          }
        }
      }
    }
  }
}

// end of Main style

// Footer style
div#footerWrapper {
  background-color: $primaryColor;
  footer {
    padding: 3% 2%;
    text-align: center;
    margin-top: 1rem;

    .socials {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      .fab {
        color: white;
        width: 60px;
        font-size: 2rem;
      }
      .fab:hover {
        cursor: pointer;
        color: $secondaryLight;
      }
    }

    p {
      color: white;
      a {
        color: white;
      }
    }
  }
}
// end of Footer style

// Columns style
div.flexed {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 0 $gutter;
}
@for $i from 0 through 12 {
  //this is the for-of loop of scss, its a bit different, but the same principle.
  // for el from <range>

  $w: ($i / 12) * 100%;
  .small-#{$i} {
    flex-basis: $w;
  }
}

// end of column style

// clear fix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

