/* rules here will be applied to all sizes, medium and large will modify from that */

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//Body
body {
  font-family: $fontFamily;
  overflow-x: hidden;
}

// Header style
div#headerWrapper {
  background-color: darken($secondaryColor, 0);

  header {
    border-top: 0.5rem solid $primaryColor;
    div.slogan {
      color: white;
      h1,
      h2 {
        margin: 2%;
      }
      h2 {
        font-size: 90%;
      }
    }

    div.search-box {
      margin-top: 1rem;
      padding: 2% 2%;
      display: flex;
      justify-content: flex-end;
      .searchBox {
        border-radius: 5px;
        padding: 1% 1%;
      }
    }
  }
}
// end of Header style

// Nav style
div#navWrapper {
  background-color: $secondaryLight;

  nav {
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;

        a {
          cursor: pointer;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: rgb(255, 255, 255);
          padding: 0 2%;
        }
      }
      li.active {
        background-color: lighten(grey, 20%);
        a {
          color: black;
        }
      }
      li:hover {
        background-color: darken($secondaryColor, 10%);
        a {
          color: white;
        }
      }
    }
  }
}
// end of Nav style

// Main Style

div#mainWrapper {
  main {
    margin: 1% 1%;

    .flexed {
      // Lawyer-card section
      div.lawyer-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: grey;
        margin: 1% 1%;
        padding: 0;
        max-width: 48%;

        .lawyer-name {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: grey;
          color: white;
          height: 1rem;
          text-align: center;
        }
        img.lawyer-img {
          width: 100%;
          height: auto;
        }

        button {
          margin: 5% 5%;
        }
      }

      // CTA btn section
      div.cta-btn {
        text-align: center;

        a {
          text-decoration: none;
          color: white;
        }

        @for $j from 0 through 3 {
          .cta-#{$j} {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4% 0;
            background-color: $secondaryColor;
            color: white;
            width: 100%;
            height: 3rem;
          }
        }

        .cta:hover {
          background-color: $secondaryLight;
          cursor: pointer;
        }
      }

      // blog post section
      div.blog-cards {
        background-color: darken($primaryColor, 10%);
        margin: 2% 0;
        padding: 0;

        .blog-img {
          width: 100%;
          height: auto;
        }

        .blog-title,
        .blog-content {
          color: white;
          padding: 0 2%;
        }

        .read-more-btn {
          width: 100%;
          height: 3rem;
          background-color: $primaryColor;
          border-style: none;
          cursor: pointer;
          color: white;
        }
        .read-more-btn:hover {
          background-color: $secondaryColor;
          color: white;
        }
      }

      // tip of day and FAQ
      .tipofday-card {
        background-color: $secondaryLight;
        color: white;
        padding: 2% 2%;
        margin: 2% 0;
        a {
          color: white;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      @for $x from 0 through 3 {
        .faq-#{$x} {
          background-color: $secondaryLight;
          color: white;
          padding: 2% 2%;
          margin: 2% 0;
          a {
            color: white;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// end of Main style

// Footer style
div#footerWrapper {
  background-color: $primaryColor;
  footer {
    padding: 2% 2%;
    text-align: center;

    .socials {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      .fab {
        color: white;
        width: 60px;
        font-size: 2rem;
      }
    }

    p {
      color: white;
      a {
        color: white;
      }
    }
  }
}
// end of Footer style

// Columns style
div.flexed {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 0 $gutter;
}
@for $i from 0 through 12 {
  //this is the for-of loop of scss, its a bit different, but the same principle.
  // for el from <range>

  $w: ($i / 12) * 100%;
  .small-#{$i} {
    flex-basis: $w;
  }
}

// end of column style

// clear fix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
