@media only screen and (min-width: 560px) {
    .card {
        border-radius: 1.2rem;
        max-width: 75%;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}
