/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body */
body {
  font-family: Verdana;
  font-size: 16px; /*note this is default anyways */
}

/* header */
header {
  background-color: #17a8e4;

  /* 1rem on top and bottom and 2% on both left and right; 1rem = (base/default font) * 1 */
  padding: 1rem 2%;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
}

/* Nav rules */
nav {
  background-color: #111;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style-type: none;
}
nav li.active {
    background-color: #333;
}
nav a {
  display: block;
  padding: 0.8rem 0; /* 44px min height */
  color: #eee;
  text-align: center;
  text-decoration: none;
}
nav a:hover {
    background-color: #444;
}

/* main rules */
main {
    /* consistency */
    padding: 1rem 2%;
    display: block;
}
main h1 {
    color: #17a8e4;
}

/* This is fixing how the img responds to size, and allows it to limit itself to screen size */
main figure img {
    width: 100%;
}
main figure {
    width: 100%;
    margin: 0;
}

main figcaption {
    text-align: center;
    font-size: 0.8rem;
}

/* footer */

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #17a8e4;
}