footer {
  position: absolute;
}

div#mainWrapper {
    padding: 0 10%;
  main.content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    div.class-card {
      button {
        display: none;
      }
      p {
        display: initial;
      }
      div.upper-layer img {width: 100%;}
    }
  }
}
