div#mainWrapper {
  main.content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    div.class-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      div.upper-layer {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          font-size: 1.2rem;
        }

        img {
          padding: 10%;
          display: initial;
          width: 100%;
          height: auto;
        }
        a.visit-btn {
          height: 3rem;
          width: 100%;
        }
      }

      button {
      }
    }
    div.class-card:nth-child(8) {
      div.upper-layer img {
        width: 80%;
      }
    }
  }
}
// footer
footer {
  position: initial;
}
