/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: $font-family;
  overflow-x: hidden;
  background-color: $dark;
  color: white;
}

// Header

header {
  background-color: $mint;
  padding: 0.1rem 2%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

//main
main.content {
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem 2%;

  div.card {
    display: none;
  }

  div.surface {
    width: 100%;
    background-color: lighten($dark, 15%);
    margin: 0.5rem 0;
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 2%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    h3 {
      color: white;
    }

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;

      background-color: $mint;
      border-radius: 2rem;
      width: 5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  div.surface:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

// footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1% 2%;
  color: white;
  background-color: $mint;

  a {
    cursor: pointer;
    color: white;
  }
}
