@media only screen and (min-width: 560px) {
    nav ul {
       display: flex;
    }
    nav ul li {
        flex-basis: 25%;
    }

    main figure {
        float: right;
        width: 50%;
        padding-bottom: 0.3rem;
    }

    .info {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
        padding: 0.5rem 2%;
    }
}
