/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --mint: #3bba9c;
  --dark: #2e3047;
  --light-dark: #43455c;
  --mid-dark: #3c3f58;
  --light-grey: #707793;
}

/* Body */
body {
  background-color: var(--dark);
  color: white;
  font-family: sans-serif;
}

/* Header */
header {
  width: 100%;
  background-color: var(--mint);
  padding: 0.1rem 2%;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-dark);
  margin: 1rem;
  text-align: center;
  border-radius: 15px;
  max-width: 75%;
  height: 25rem;
}
a {
  color: white;
  text-decoration: none;
  background-color: var(--mint);
  padding: 0.5rem 2%;
  border-radius: 1rem;
  width: 6rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* Img */
main figure img {
  width: 50%;
}
.content-img {
  max-width: 368px;
  height: auto;
}
main figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* footer */
footer {
  width: 100%;
  background-color: var(--mint);
  padding: 0.05rem 2%;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}