header,
footer,
div#missionSectionWrapper,
div.hero,
div.content,
div.partners,
div#navWrapper {
  margin: auto;
  max-width: 58.8125rem;
}

div#headerWrapper {
  header {
    padding: 0;
  }
}

// Nav
div#navWrapper {
  nav {
    div.ul {
      ul {
        padding: 1rem 0;
      }
    }
  }
}

div#mainWrapper {
  main {
    div.mission-div {
      div#missionSectionWrapper {
        display: grid;
        grid-template-areas: "a a b";

        section.left-column {
          grid-area: a;
          margin-right: 10px;
        }
        section.right-column {
          grid-area: b;
          text-align: right;
        }
      }
    }

    div.content {
      padding: 0;
      div.header {
        margin: 0;
        margin-top: 1rem;
      }
      div.grid {
        display: unset;
        section.one {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 2vw;
          div.card {
            img {
              width: 100%;
              float: none;
            }
            h2 {
              margin-bottom: 10px;
            }
          }
        }
        section.two {
          display: grid;
          grid-template-areas:
            "inf tech stock"
            "sup sup stock";
          gap: 0 2vw;

          padding-top: 1rem;

          div.bigCard {
            margin: 0;
            padding: 0;
            img {
              width: 100%;
              float: none;
              margin-right: 0;
              height: 204px;
            }
            div.cardText {
              h2 {
                margin: 1rem 0;
              }
            }
          }

          .a {
            grid-area: inf;
          }
          .b {
            grid-area: tech;
          }
          .c {
            grid-area: stock;
          }
          .d {
            grid-area: sup;
          }

          div.techSupport {
            padding: 0;
          }
        }
      }
    }

    div.partners {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
