div#headerWrapper {
  header {
    div.wordmark {
      border-bottom: solid 1px $grey;
    }
  }
}

div#navWrapper {
  nav {
    background: initial;

    div.hamBtn {
      display: none;
      padding: 0;
    }

    div.ul {
      display: initial;
      padding: 0;
      ul {
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 0.5rem;
        li {
          margin: 0;
          margin-left: 25px;
          height: 32px;

          a {
            color: $grey;
            margin: 0;
            width: 100%;
            height: 100%;
            font-size: 20px;
          }
          a:hover {
            color: darken($grey, 20%);
          }
        }
      }
    }
  }
  margin-bottom: 0.5rem;
}

div#mainWrapper {
  main {
    padding: 0 0.5rem;
    div.mission-div {
      padding: 0.5rem;
      section {
        padding: 0;
      }
    }

    div.content {
      div.header {
        
      }
      div.grid {
        margin: 0.5rem;
        section.one {
          div.card {
            display: initial;
            div.figure {
              float: left;
              img {
                width: auto;
                height: 150px;
              }
            }
          }
        }
        section.two {
          div.graphCard {
            div.figure {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
