div#headerWrapper {
  header {
    padding: 0 0.5rem;
    div.wordmark {
      border-bottom: solid 1px $grey;
    }
  }
}

div#navWrapper {
  margin-top: 2px;
  nav {
    background: white;
    display: unset;
    div.hamBtn {
      display: none;
    }

    div.ul {
      display: initial;
      padding: 0;
      margin: 0;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
        li {
          border: none;
          margin: 0;
          padding: 0;
          width: unset;
          margin-left: 25px;
          a {
            text-decoration: none;
            color: $grey;
            display: initial;
          }
          a:hover {
            color: darken($grey, 15%);
          }
        }
      }
    }
  }
}

div#mainWrapper {
  main {
    div.content {
      div.header {
        border-bottom: solid 1px $grey;
        margin: 0 0.5rem;
        margin-top: 1rem;
        h1 {
          margin: 0;
          color: $blue;
          font-weight: 400;
        }
      }

      div.grid {
        padding: 0 0.5rem;
        section.one {
          div.card {
            margin: 1rem 0;
            padding: 0;
            img {
              width: 35%;
              float: left;
              margin-right: 1rem;
            }
          }
        }

        section.two {
          div.bigCard {
            margin: 1rem 0;
            padding: 0;
            img {
              width: 50%;
              float: left;
              margin-right: 1rem;
            }
            div.cardText {
              margin: 0;
              padding: 0;
              h2,
              p {
                margin: 0;
              }
            }
          }

          div.graphCard {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    div.partners {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
