/* rules here will be applied to all sizes, medium and large will modify from that */

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  font-family: $fontFamily;
  overflow-x: hidden;
}

// Header
div#headerWrapper {
  padding-top: 0.5rem;
  header {
    display: flex;

    div.wordmark {
      width: 100%;
      // border-bottom: solid 1px $grey;
      h1,
      h2 {
        margin: 0;
      }
      h1 {
        color: $blue;
      }
      h2 {
        color: $grey;
        letter-spacing: 10px;
        font-weight: 300;
      }
    }
  }
}

// Nav
div#navWrapper {
  margin-top: 2px;
  nav {
    background: $blue;
    background: linear-gradient(180deg, $blue 0%, rgba(1, 66, 103, 1) 84%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    div.hamBtn {
      padding: 2%;
      button#hamburgerBtn {
        background: none;
        border: none;
        color: white;
        font-size: 36px;
        padding: 0;
        margin: 0;
      }
    }

    div.ul {
      width: 100%;
      padding: 0 0.5rem;
      padding-bottom: 1rem;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 5px;

        li {
          margin: 15px 0;

          a {
            text-decoration: none;
            color: white;
            display: block;
            font-size: 18px;
          }
        }
      }
    }
  }
}

div#mainWrapper {
  width: 100%;
  main {
    div.hero img {
      width: 100%;
      height: auto;
    }

    div.mission-div {
      background-color: $black;
      color: white;
      width: 100%;
      h2,
      h1 {
        color: $yellow;
      }
      section {
        padding: 0.5rem;
      }
    }

    div.content {
      div.header {
        border-bottom: solid 1px $grey;
        // margin: 0.5rem 0.5rem;
        margin: 0 0.5rem;
        margin-top: 1rem;

        h1 {
          margin: 0;
          color: $blue;
          font-weight: 400;
        }
      }

      div.grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        div.card {
          display: flex;
          flex-direction: column;
          padding: 0 0.5rem;
          margin: 1rem 0;
          div.figure {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            img {
              width: 70%;
              height: auto;
            }
          }
          h2 {
            color: $blue;
            margin: 0;
          }
          p {
            width: 100%;
            margin: 0;
          }
        }

        div.bigCard {
          display: flex;
          flex-direction: column;
          padding: 0 0.5rem;
          margin: 1rem 0;
          div.figure {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
          }
          h2 {
            color: $blue;
            margin: 0;
          }
          p {
            margin: 0;
          }
        }

        div.graphCard {
          position: relative;

          div.figure {
            position: relative;
          }

          div.info {
            position: absolute;
            bottom: 0.75rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            button {
              width: 15rem;
              height: 44px;
              background-color: $blue;
              border: none;
              border-radius: 10px;
              color: white;
              font-size: 24px;
              cursor: pointer;
            }
            button:hover {
              background-color: darken($blue, 5%);
            }
            p {
              margin: 0.5rem 0;
            }
          }
        }

        div.techSupport {
          padding: 0 0.5rem;
          h2 {
            color: $blue;
          }
          P {
          }
        }
      }
    }
  }

  div.partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 75%;
        height: auto;
      }
    }
  }
}

div#footerWrapper {
  background: rgb(4, 128, 177);
  background: linear-gradient(180deg, $blue 0%, rgba(1, 66, 103, 1) 84%);
  footer {
    margin-top: 1rem;
    color: white;
    padding: 0.5rem 0.5rem;
    p {
      margin: 0;
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
      }
      a:hover {
        text-decoration: initial;
      }
    }
  }
}
//! clear fix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
