header {
  img {
    width: 10%;
  }
}

nav {
  ul {
    padding-left: 2%;

    li {
      width: auto;

      a {
        padding: 0.5rem 1rem;
      }
    }
  }
}

main {
  .content {
    img {
      width: 33%;
    }
  }
}
