header {
  align-items: flex-end;

  img {
    width: 15%;
  }

  .logo h3 {
    visibility: visible;
    height: auto;
    margin: 2% 0;
    align-items: center;
    color: whitesmoke;
  }
}

nav {
  ul {
    flex-wrap: nowrap;

    li {
      border-top: none;
      border-bottom: none;
    }
  }
}

main {
  .content {
    img {
      width: 50%;
      float: right;
      margin-bottom: 2%;
      margin-left: 2%;
    }
  }
}
