/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Body Rules -----
body {
  font-family: $font-family;
  width: 100%;
  overflow-x: hidden;
}

// Header Rules -----
header {
  width: 100%;
  background-color: $primaryColor;
  padding: 0.5rem 2%;
  display: flex;
  align-items: baseline;

  img {
    width: 25%;
    height: auto;
  }

  .logo {
    margin-left: 1%;
    letter-spacing: 2px;
    h2 {
      margin: 0;
      color: white;
    }

    h3 {
      visibility: hidden;
      margin: 0;
      height: 0;
    }
  }
}

// Nav Rules -----
nav {
  max-width: 100%;
  background-color: $secondaryColor;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      width: 50%;
      height: 2rem;
      text-align: center;
      border: $borderColor solid 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondaryColor;

      a {
        text-decoration: none;
        color: white;
      }
    }

    li.active {
      background-color: $activeColor;

      a.active {
        color: white;
      }
    }
  }
}

// Main Rules ----
main {
  max-width: 75rem;
  margin: auto;

  .hero-img img {
    width: 100%;
  }

  .content {
    padding: 1rem 2%;

    h1 {
      margin: 0;
      letter-spacing: 2px;
    }

    div.line {
      background: rgb(78, 112, 160);
      background: linear-gradient(
        90deg,
        rgba(78, 112, 160, 1) 0%,
        rgba(68, 121, 219, 1) 35%,
        rgba(0, 212, 255, 0.09857142857142853) 93%
      );
      width: 100%;
      height: 0.3rem;
      margin: 2% 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

// Footer Rules ----
footer {
  width: 100%;
  background-color: $secondaryColor;
  text-align: center;
  padding: 1% 2%;
  color: white;

  a {
    cursor: pointer;
    color: white;
  }
}
