/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Body Rules -----
body {
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
}

// Header Rules -----
header {
  width: 100%;
  background-color: $primaryColor;
  padding: 0.5rem 2%;
  display: flex;
  align-items: baseline;
}

header img {
  width: 25%;
  height: auto;
}

header .logo h2 {
  align-items: baseline;
  margin: 0;
}

// Nav Rules -----
nav {
  max-width: 100%;
}
nav ul {
  max-width: 75rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  height: 50px;
}

// Main Rules ----
main {
  max-width: 75rem;
}

main .hero-img img {
  width: 100%;
}

main .content {
  padding: 0.5rem 2%;
}

main .content img {
  width: 100%;
  height: auto;
}

// Footer Rules ----
footer {
  width: 100%;

  text-align: center;
}
