$primaryColor: #4e70a0;
$secondaryColor: #355fad;
$activeColor: #214892;
$borderColor: #2553a8;

$font-family: 'Urbanist', sans-serif;
$Extra-lightFontWeight: 200;
$lightFontWeight: 300;
$RegFontWeight: 400;
$MedFontWeight: 500;

$Reg-Italic-Font: italic;
