/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* example of specifity, take out or leave in main; this will show how specifity works and how responsive design can work. */
main p {
  color: aqua;
}
h1 {
  color: #000;
}
