/* rules here will be applied to all sizes, medium and large will modify from that */

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//Body
body {
  font-family: $fontFamily;
  overflow-x: hidden;
}

// Header Style
header {
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  h1,
  h2 {
    color: $secondaryColor;
    padding: 0;
    margin: 0;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
    z-index: -1;
  }
}

// End of Header Style

//  Nav Style

// scroll-behavior: auto;
div#navWrapper {
  background-color: $primaryColor;
  nav {
    button {
      margin: 2% 2%;
      border-style: none;
      background-color: lighten($primaryColor, 10%);
      color: white;
      font-size: 20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li a {
        display: block;
        padding: 2% 2%;
        text-decoration: none;
        color: white;
        border-top: solid 1px rgba(0, 0, 0, 0.2);
      }
      li a.top {
        border-top: none;
      }
    }
    ul.hide {
      display: none;
    }
  }
}

// End of Nav Style

// Main Style
main {
  div.single-item {
    picture img {
      width: 100%;
      height: auto;
    }
  }
}

// End of Main Style

// Footer Style

// End of Footer Style

// clear fix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
