@import url("https://use.typekit.net/zwg1hxl.css");

$fontFamily: 'brother-1816', sans-serif;
$secondaryFont: 'brother-1816-printed', sans-serif;

$primaryColor: #EA4832;

$secondaryColor: #0C1A23;

$gutter: 2vw;

// background: rgb(12,26,35);
// background: linear-gradient(180deg, rgba(12,26,35,1) 35%, rgba(17,25,96,1) 100%);