@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$fontFamily: 'Lato', sans-serif;


$primaryColor: #ea4832;

$secondaryColor: #0c1a23;

$gutter: 2vw;

// background: rgb(12,26,35);
// background: linear-gradient(180deg, rgba(12,26,35,1) 35%, rgba(17,25,96,1) 100%);
