header,
nav,
main,
footer {
  max-width: 75rem;
  margin: auto;
}

div#mainWrapper {
  main {
    margin: auto;
    div.band-members {
      div.member {
        flex-basis: 5%;
        margin: auto;

        figure img {
          width: 100px;
        }
      }
    }
  }
}
