header,
nav,
main,
footer {
  max-width: 75rem;
  margin: auto;
}

//nav
div#navWrapper {
  background-color: grey;
  padding: 0;
  nav ul li {
    width: 15%;
    a {
      font-size: 110%;
    }
  }
}

div#mainWrapper {
  main {
    div.band-members {
      div.member {
        flex-basis: 5%;
        margin: auto;

        figure img {
          width: 150px;
          
        }
      }
    }
  }
}
