/* rules here will be applied to all sizes, medium and large will modify from that */

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//Body
body {
  font-family: $fontFamily;
  overflow-x: hidden;
}

#pageWrapper {
  display: grid;
  grid-template-areas:
    "hamburger"
    "header"
    "main"
    "footer"
    "nav";

  //   grid-template-columns: 100%;
}
// assign areas accordingly

// Header
header {
  div.img {
    width: 44px;
    height: 44px;
    background-color: blue;
  }
}

// Nav
nav {
  background-color: grey;
  grid-area: nav;
  height: 100vh;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      flex-basis: 100%;

      a {
        display: block;
        background-color: honeydew;
        color: black;
        text-decoration: none;
        font-size: 0.9rem;
        text-align: center;
        padding: 0.5rem 0;
      }

      a:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: #000;
      }
    }

    li.active a {
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
    }
  }
}

// Main 
main {
  div.div {

    h2 {}
    img {
      width: 100%;
      height: auto;
    }
    p {}
  }
}


//HAMBURGER
div#hamburger {
  background-color: #feff98;
  grid-area: hamburger;

  a.myjump {
    display: block;
    width: 60px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.7rem;
    padding: 0.4rem;
    text-decoration: none;
    padding-left: 2%;
  }
}


//! clear fix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
