nav,
main,
footer {
  margin: auto;
  max-width: 60rem;
}

//? Header/Nav Styling
div#header-nav-Wrapper {
  nav {
    //? Logomark div styling
    div.logoMark {
    }

    //? Nav button styling
    div.navBtnDiv {
      display: none;
    }

    //? Nav mobile styling
    div.ul-nav {
      ul.mainUL {
        display: unset;
        display: flex;
        justify-content: flex-end;

        li.subNavLi {
          position: relative;
          
          ul.subNav {
            position: absolute;
            background-color: $red;
            top: 2rem;
            right: 0rem;
            width: 140px;
            li:hover {
              background-color: darken($red, 5%);
              
            }
          }
        }
        li.subNavLi:hover {
         
          ul.subNav {
            display: unset;
            animation: slide 0.5s;
            transform-origin: top center;
          }
        }
      }
    }
  }
}

//? Main
div#mainWrapper {
  //! Fix for the space below nav

  main {
    //? Hero Image Styling
    div.HeroContainer {
    }

    //? Intro Div Styling
    div.introContainer {
    }

    //? Service Card Styling
    div.serviceCards {
    }

    //? newsletter section styling
    div.newLetterContainer {
    }
  }
}

//? Footer styling
div#footerWrapper {
  footer {
  }
}

@keyframes slide {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
