nav,
main,
footer {
  margin: auto;
  max-width: 60rem;
}

//? Header/Nav Styling
div#header-nav-Wrapper {
  nav {
    //? Logomark div styling
    div.logoMark {
    }

    //? Nav button styling
    div.navBtnDiv {
      display: none;
    }

    //? Nav mobile styling
    div.ul-nav {
      ul.mainUL {
        display: unset;
        display: flex;
        justify-content: flex-end;

        li.subNavLi {
          position: relative;

          ul.subNav {
            position: absolute;
            background-color: $red;
            top: 2rem;
            right: 0rem;
            width: 140px;

            li:hover {
              background-color: darken($red, 5%);
            }
          }
        }
      }
    }
  }
}

ul.subNav.Monke {
  display: unset;
  animation: slide 0.5s;
  transform-origin: top center;
}

//? Main
div#mainWrapper {
  //! Fix for the space below nav

  main {
    //? Hero Image Styling
    div.HeroContainer {
    }

    //? Intro Div Styling
    div.introContainer {
    }

    //? Service Card Styling
    div.serviceCards {
      grid-template-columns: 1fr 1fr 1fr;

      @for $i from 0 through 5 {
        .card#{$i} {
          border-bottom: solid 1px $red;
        }
      }
    }

    //? newsletter section styling
    div.newLetterContainer {
      form.formSection {
        input#userEmail {
          width: 50%;
        }

        input#sbtBtn {
          width: 25%;
        }
      }
    }
  }
}

//? Footer styling
div#footerWrapper {
  footer {
  }
}

@keyframes slide {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

//! PAGES STYLING: Blog, Stores, Thank You page, and more.

//? THIS IS FOR THE BLOG PAGE
div#mainWrapper {
  margin-bottom: 5rem;
  main {
    div.newBlogPost-Container {
      grid-template-areas: "info img";

      div.blogInfo {
        grid-area: info;

        h2 {
        }
        p {
        }
        button {
        }
      }
      div.Blog-Img {
        grid-area: img;

        img {
          height: 20rem;
        }
      }
    }

    div.laterBlogPost-Container {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      div.card {
        div.cardImg {
          div {
            h2 {
            }
          }

          img {
          }
        }

        div.cardInfo {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 14rem;
          div {
            p {
              margin: 1rem 0;
            }

            :nth-child(2) {
              margin-bottom: 0;
            }
          }
          button {
            cursor: pointer;
          }
        }
      }
    }
  }
}
//? END OF BLOG PAGE STYLING
