//? nav
div#header-nav-Wrapper {
  nav {
    position: relative;
  }
}

//? Main
div#mainWrapper {
  //! Fix for the space below nav
  margin: 0;

  main {
    //? Hero Image Styling

    //? Intro Div Styling

    //? Service Card Styling
    div.serviceCards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }

    //? newsletter section styling
    div.newLetterContainer {
      form.formSection {
        flex-direction: row;

        :nth-child(1) {
          margin: 0;
        }
        :nth-child(2) {
          width: 50%;
          margin-left: 1rem;
        }
      }
    }
  }
}

//? Footer styling
div#footerWrapper {
  footer {
    padding: 0.25rem;
  }
}

