//? nav
div#header-nav-Wrapper {
  nav {
    position: relative;
  }
}

//? Main
div#mainWrapper {
  //! Fix for the space below nav
  margin: 0;

  main {
    //? Hero Image Styling

    //? Intro Div Styling

    //? Service Card Styling
    div.serviceCards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }

    //? newsletter section styling
    div.newLetterContainer {
      form.formSection {
        flex-direction: row;

        :nth-child(1) {
          margin: 0;
        }
        :nth-child(2) {
          width: 50%;
          margin-left: 1rem;
        }
      }
    }
  }
}

//? Footer styling
div#footerWrapper {
  footer {
    padding: 0.25rem;
  }
}

//! PAGES STYLING: Blog, Stores, Thank You page, and more.

//? THIS IS FOR THE BLOG PAGE
div#mainWrapper {
  main {
    div.newBlogPost-Container {
      grid-template-areas: "info img";

      div.blogInfo {
        grid-area: info;

        h2 {
        }
        p {
        }
        button {
        }
      }
      div.Blog-Img {
        grid-area: img;

        img {
        }
      }
    }

    div.laterBlogPost-Container {
      grid-template-columns: 1fr 1fr;

      div.card {
        div.cardImg {
          div {
            h2 {
            }
          }

          img {
          }
        }

        div.cardInfo {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 13.5rem;
          div {
            p {
              margin: 1rem 0;
            }
          }
          button {
          }
        }
      }
    }
  }
}
//? END OF BLOG PAGE STYLING
