@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400&display=swap");

$fontFamily: "M PLUS 1", sans-serif;

$blue: #0480b1;
$grey: #a8a8b2;
$yellow: #fcd831;

$light-grey: #eaeaea;
$red: #a71d31;
$light-blue: #4d7ea8;
$black: #231f20;
