/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// body
body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: whitesmoke;
}

//header
div#headerWrapper {
  background-color: white;

  header {
    padding: 0.5rem 2%;
    height: 100%;

    figure.logo {
      float: left;
      background-color: transparent;
      height: 100px;
      width: 100px;
      margin: 0 1% 0 0;

      img {
        width: auto;
        height: 100px;
      }
    }

    .company-logo {
      h1,
      h2 {
        margin: 0;
        color: black;
      }
    }
  }
}

//nav
div#navWrapper {
  width: 100%;
  background-color: $primaryColor;

  nav {
    ul.nav {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      background-color: $primaryColor;

      li {
        list-style: none;
        width: 25%;
        height: 2.75rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          cursor: pointer;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: rgb(255, 255, 255);
        }
      }

      li.active {
        background-color: darken($primaryColor, 5%);

        a.active {
          color: white;
        }
      }

      li:hover {
        background-color: lighten($primaryColor, 15%);

        a:hover {
          color: darken(white, 10%);
        }
      }
    }
  }
}

//main

//footer
footer {
  background-color: $primaryColor;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1% 2%;

  a {
    cursor: pointer;
    color: white;
  }
}

// clear fix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
